/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  font: inherit;
  margin: 0;
  border: none;
}

textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}
html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

#root {
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--ff-manrope);
  line-height: 1.5;
  background-color: var(--color-white-bg);
  color: var(--color-text);
  overflow-x: hidden;
  padding: 20px;
}

main {
  flex-grow: 1;
  position: relative;
}
* {
  transition: all var(--transition);
}
.loading {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: #4fa94d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
